body .container {
  max-width: 1200px;
  margin: 0 auto;
}
body .container .nav-img {
  width: 180px;
}
@media (max-width: 391px) {
  body .container .nav-img {
    width: 114px;
  }
}
body .container .link-c {
  color: black !important;
  font-weight: bold !important;
}
@media (max-width: 1200px) {
  body .menu-logout {
    display: none;
  }
}
body .banner {
  background-image: url("https://digitallearning.arizona.edu/sites/default/files/styles/uaqs_full_width_lg/public/RethinkingYourAssessments.jpg?itok=fYZ_ZKRP&timestamp=1599151705");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
@media (max-width: 992px) {
  body .banner {
    background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/ai-development-3454695-2918404.png");
    background-color: #ccd1f6;
  }
}
body .banner .ef {
  --bRadius: 10px;
}
body .banner .ef .div {
  position: relative;
  text-align: center;
  font-size: 24px;
  border-radius: var(--bRadius);
  transition: all 0.3s;
}
body .banner .ef .div::before, body .banner .ef .div::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.5s;
  border-radius: var(--bRadius);
  -webkit-animation: clippath 5s infinite linear;
          animation: clippath 5s infinite linear;
}
body .banner .ef .div::after {
  -webkit-animation: clippath 5s infinite -2.5s linear;
          animation: clippath 5s infinite -2.5s linear;
}
@-webkit-keyframes clippath {
  0%, 100% {
    -webkit-clip-path: inset(0 0 98% 0);
            clip-path: inset(0 0 98% 0);
  }
  25% {
    -webkit-clip-path: inset(0 98% 0 0);
            clip-path: inset(0 98% 0 0);
  }
  50% {
    -webkit-clip-path: inset(98% 0 0 0);
            clip-path: inset(98% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 98%);
            clip-path: inset(0 0 0 98%);
  }
}
@keyframes clippath {
  0%, 100% {
    -webkit-clip-path: inset(0 0 98% 0);
            clip-path: inset(0 0 98% 0);
  }
  25% {
    -webkit-clip-path: inset(0 98% 0 0);
            clip-path: inset(0 98% 0 0);
  }
  50% {
    -webkit-clip-path: inset(98% 0 0 0);
            clip-path: inset(98% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 98%);
            clip-path: inset(0 0 0 98%);
  }
}
body .body-login-box {
  display: flex;
}
@media (max-width: 1200px) {
  body .body-login-box {
    justify-content: center;
  }
}
body .body-login-box .body-login {
  background-color: rgba(137, 137, 137, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 28px 0;
  width: 1200px;
  margin-top: 134px;
}
@media (max-width: 1200px) {
  body .body-login-box .body-login {
    width: 960px;
    padding: 100px 0px;
  }
}
@media (max-width: 992px) {
  body .body-login-box .body-login {
    padding: 50px 0px;
    width: 768px;
    background-color: rgba(255, 255, 255, 0.95);
  }
}
@media (max-width: 768px) {
  body .body-login-box .body-login {
    width: 579px;
  }
}
@media (max-width: 992px) {
  body .body-login-box .body-login p {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  body .body-login-box .body-login a {
    width: 177px;
  }
}
body .body-login-box .body-login ::-moz-placeholder {
  color: white;
  font-weight: bold;
}
body .body-login-box .body-login :-ms-input-placeholder {
  color: white;
  font-weight: bold;
}
body .body-login-box .body-login ::placeholder {
  color: white;
  font-weight: bold;
}
@media (max-width: 992px) {
  body .body-login-box .body-login ::-moz-placeholder {
    color: black;
  }
  body .body-login-box .body-login :-ms-input-placeholder {
    color: black;
  }
  body .body-login-box .body-login ::placeholder {
    color: black;
  }
}
body .body-login-box .body-login .checkbox-text {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
@media (max-width: 992px) {
  body .body-login-box .body-login .checkbox-text {
    color: black;
  }
}
body .body-login-box .body-login .checkbox {
  margin-right: 8px;
}
body .body-login-box .rwd-nav-sign {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  body .body-login-box .rwd-nav-sign {
    margin-top: 0;
  }
}
body .body-login-box .rwd-nav-sign button {
  border-radius: 20px;
  border: 1px solid #79b4a0;
  padding: 8px 21px;
  background-color: transparent;
  color: antiquewhite;
  font-size: 16px;
}
@media (max-width: 992px) {
  body .body-login-box .rwd-nav-sign button {
    font-size: 8px;
  }
}
@media (max-width: 391px) {
  body .body-login-box .rwd-nav-sign button {
    color: black;
  }
}
body .body-login-box .rwd-nav-sign button:hover {
  background: linear-gradient(to bottom left, #487081, #83c1a6);
}
@media (min-width: 1200px) {
  body .body-login-box .rwd-nav-sign {
    display: none;
  }
}
body .body-login-box h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  color: white;
}
@media (max-width: 992px) {
  body .body-login-box h2 {
    font-size: 30px;
    color: black;
  }
}
@media (max-width: 768px) {
  body .body-login-box h2 {
    font-size: 20px;
  }
}
body .body-login-box input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid white;
  text-align: center;
  background-color: transparent;
  font-size: 18px;
}
@media (max-width: 1200px) {
  body .body-login-box input {
    padding: 0;
  }
}
@media (max-width: 992px) {
  body .body-login-box input {
    margin-bottom: 14px;
    border: 1px solid #79b4a0;
    padding: 3px 0;
  }
}
@media (max-width: 768px) {
  body .body-login-box input {
    margin-bottom: 0;
    font-size: 12px;
  }
}
body .body-login-box .login {
  background-color: rgba(137, 137, 137, 0.5);
  width: 216px;
  background-color: rgb(238, 228, 255);
  cursor: pointer;
  font-weight: bold;
  color: black;
  border: 1px solid white;
}
@media (max-width: 992px) {
  body .body-login-box .login {
    width: 199px;
    padding: 3px 0;
    background: linear-gradient(to bottom left, #d3f2ff, #83c1a6);
    border: 1px solid #79b4a0;
  }
}
@media (max-width: 768px) {
  body .body-login-box .login {
    width: 133px;
  }
}
body .body-login-box .login:hover {
  background: black;
  color: rgb(238, 228, 255);
}/*# sourceMappingURL=login.css.map */