/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    vertical-align: middle;
}
@mixin w1200{
    @media (max-width:1200px){
        @content;
    }
}
@mixin web992{
    @media (max-width:992px){
        @content;
    }
}
@mixin web992-2{
    @media (min-width:992px){
        @content;
    }
}
@mixin pad768{
    @media(max-width:768px){
        @content;
    }
}
@mixin mobile390{
    @media(max-width: 390px){
        @content;
    }
}
@mixin m390{
    @media(min-width: 390px){
        @content;
    }
}
@mixin sign-rwd-1200{
    @media(min-width: 1200px){
        @content;
    }
}
body{
    // background-image: url("https://digitallearning.arizona.edu/sites/default/files/styles/uaqs_full_width_lg/public/RethinkingYourAssessments.jpg?itok=fYZ_ZKRP&timestamp=1599151705");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-color: rgba(0, 0, 0, 0.4);
    // background-position: center center;
    // background-blend-mode: multiply;
    // height: 100vh;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .nav-img{
            width: 180px;
            @include mobile390{
                width: 114px;
            }
        }
        .link-c {
            color:black !important;
            font-weight: bold !important;
        }
        
    }
    .menu-logout{
        @include w1200{
            display: none;
        }
    }
    .banner{
        .m-img img{
            max-width: 100%;
            background-color: #ccd1f6;
            @include m390{
                display: none;
            }
        }
        .banner-img{
            // background-image: url("https://digitallearning.arizona.edu/sites/default/files/styles/uaqs_full_width_lg/public/RethinkingYourAssessments.jpg?itok=fYZ_ZKRP&timestamp=1599151705");
            position: relative;
            background-size: cover;
            height: 100%;
            background-attachment: fixed;
            max-width: 100%;
            overflow: hidden;
            @include mobile390{
                display: none;
            }
            // @include w1200{
            //     width: 1168px;
            // }
            // @include web992{
            //     width: 960px;
            // }
        }
    }
    .body-login-box{
        position: absolute;
        // display: flex;
        // justify-content: center;
        align-items: center;
        top: 205px;
        margin-left: 393px;
            @include w1200{
            top:113px;
            justify-content: flex-start;
            margin-left: 83px;
        }
        @include web992{
            top: 88px;
        }
         .body-login{
            background-color:rgb(137 137 137 / 50%) ;
            border-radius: 10px;
            text-align: center;
            padding: 70px 0;
            width: 313px;
            @include w1200{
                padding: 44px;
            } 
            @include web992{
                padding: 20px 10px;
                width: 265px;
            }
            @include pad768{
                width: 215px;
                padding: 15px 10px;
            }
            .rwd-nav-sign{
                margin-top: 20px;
                 @include pad768{
                    margin-top: 0;
                 }
                button{
                    // background-color: rgb(137 137 137 / 50%);
                    border-radius: 20px;
                    border: 1px solid #79b4a0;
                    padding: 8px 21px;
                    background-color: transparent;
                    color: antiquewhite;
                    &:hover{
                        background: linear-gradient(to bottom left, #487081, #83c1a6);
                     }
                }
                display: flex;
                justify-content: space-around;
                @include sign-rwd-1200{
                    display: none;
                }
            }
        }
        
            h2{
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
                font-weight: bold;
                @include web992{
                    font-size: 20px;
                }
            }
            input{
                padding:10px;
                margin-bottom: 20px;
                border-radius: 20px;
                border: 1px solid #79b4a0;
                text-align: center;
                background-color: transparent;
                @include pad768{
                    padding: 3px 0;
                }
            }
            .login{
                background-color: rgb(137 137 137 / 50%);
                width: 216px;
                background: linear-gradient(to bottom left, #487081, #83c1a6);
                cursor: pointer;
                @include pad768{
                    width: 196px;
                }
                &:hover{
                    background: #365f71;
                    color:white;
                }
            }
        }
        .checkbox{
            margin-right: 8px;
        }
    }



