body .container {
  max-width: 1200px;
  margin: 0 auto;
}
body .container .nav-img {
  width: 180px;
}
@media (max-width: 391px) {
  body .container .nav-img {
    width: 114px;
  }
}
body .container .link-c {
  color: black !important;
  font-weight: bold !important;
}
@media (max-width: 1200px) {
  body .menu-logout {
    display: none;
  }
}
body .banner .m-img img {
  max-width: 100%;
  background-color: #ccd1f6;
}
@media (min-width: 391px) {
  body .banner .m-img img {
    display: none;
  }
}
body .banner .banner-img img {
  position: relative;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 391px) {
  body .banner .banner-img img {
    display: none;
  }
}
body .banner .ef {
  --bRadius: 10px;
}
body .banner .ef .div {
  position: relative;
  text-align: center;
  font-size: 24px;
  border-radius: var(--bRadius);
  transition: all 0.3s;
}
body .banner .ef .div::before, body .banner .ef .div::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.5s;
  border-radius: var(--bRadius);
  -webkit-animation: clippath 5s infinite linear;
          animation: clippath 5s infinite linear;
}
body .banner .ef .div::after {
  -webkit-animation: clippath 5s infinite -2.5s linear;
          animation: clippath 5s infinite -2.5s linear;
}
@-webkit-keyframes clippath {
  0%, 100% {
    -webkit-clip-path: inset(0 0 98% 0);
            clip-path: inset(0 0 98% 0);
  }
  25% {
    -webkit-clip-path: inset(0 98% 0 0);
            clip-path: inset(0 98% 0 0);
  }
  50% {
    -webkit-clip-path: inset(98% 0 0 0);
            clip-path: inset(98% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 98%);
            clip-path: inset(0 0 0 98%);
  }
}
@keyframes clippath {
  0%, 100% {
    -webkit-clip-path: inset(0 0 98% 0);
            clip-path: inset(0 0 98% 0);
  }
  25% {
    -webkit-clip-path: inset(0 98% 0 0);
            clip-path: inset(0 98% 0 0);
  }
  50% {
    -webkit-clip-path: inset(98% 0 0 0);
            clip-path: inset(98% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 98%);
            clip-path: inset(0 0 0 98%);
  }
}
body .body-login-box {
  position: absolute;
  align-items: center;
  top: 205px;
  margin-left: 393px;
}
@media (max-width: 1200px) {
  body .body-login-box {
    top: 113px;
    justify-content: flex-start;
    margin-left: 83px;
  }
}
@media (max-width: 992px) {
  body .body-login-box {
    top: 99px;
  }
}
body .body-login-box .body-login {
  background-color: rgba(137, 137, 137, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 70px 0;
  width: 313px;
}
@media (max-width: 1200px) {
  body .body-login-box .body-login {
    padding: 5px 0px;
  }
}
@media (max-width: 992px) {
  body .body-login-box .body-login {
    padding: 10px 10px;
    width: 265px;
  }
}
@media (max-width: 768px) {
  body .body-login-box .body-login {
    width: 215px;
    padding: 9px 10px;
  }
}
@media (max-width: 391px) {
  body .body-login-box .body-login {
    background-color: rgba(255, 255, 255, 0.95);
    width: 200px;
  }
}
@media (max-width: 992px) {
  body .body-login-box .body-login p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  body .body-login-box .body-login p {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  body .body-login-box .body-login a {
    width: 177px;
  }
}
body .body-login-box .rwd-nav-sign {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  body .body-login-box .rwd-nav-sign {
    margin-top: 0;
  }
}
body .body-login-box .rwd-nav-sign button {
  border-radius: 20px;
  border: 1px solid #79b4a0;
  padding: 8px 21px;
  background-color: transparent;
  color: antiquewhite;
  font-size: 16px;
}
@media (max-width: 992px) {
  body .body-login-box .rwd-nav-sign button {
    font-size: 8px;
  }
}
@media (max-width: 391px) {
  body .body-login-box .rwd-nav-sign button {
    color: black;
  }
}
body .body-login-box .rwd-nav-sign button:hover {
  background: linear-gradient(to bottom left, #487081, #83c1a6);
}
@media (min-width: 1200px) {
  body .body-login-box .rwd-nav-sign {
    display: none;
  }
}
body .body-login-box h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
@media (max-width: 992px) {
  body .body-login-box h2 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  body .body-login-box h2 {
    font-size: 16px;
  }
}
body .body-login-box input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #79b4a0;
  text-align: center;
  background-color: transparent;
  font-size: 18px;
}
@media (max-width: 1200px) {
  body .body-login-box input {
    padding: 0;
  }
}
@media (max-width: 992px) {
  body .body-login-box input {
    margin-bottom: 14px;
  }
}
@media (max-width: 768px) {
  body .body-login-box input {
    padding: 3px 0;
    margin-bottom: 0;
    font-size: 12px;
  }
}
body .body-login-box .login {
  background-color: rgba(137, 137, 137, 0.5);
  width: 216px;
  background: linear-gradient(to bottom left, #487081, #83c1a6);
  cursor: pointer;
}
@media (max-width: 768px) {
  body .body-login-box .login {
    width: 133px;
  }
}
body .body-login-box .login:hover {
  background: #365f71;
  color: white;
}
body .checkbox {
  margin-right: 8px;
}/*# sourceMappingURL=login.css.map */