@mixin w1200{
    @media (max-width:1200px){
        @content;
    }
}
@mixin web992{
    @media (max-width:992px){
        @content;
    }
}
@mixin web992-2{
    @media (min-width:992px){
        @content;
    }
}
@mixin pad768{
    @media(max-width:768px){
        @content;
    }
}
@mixin mobile391{
    @media(max-width: 391px){
        @content;
    }
}
@mixin m391{
    @media(min-width: 391px){
        @content;
    }
}
@mixin sign-rwd-1200{
    @media(min-width: 1200px){
        @content;
    }
}
body{
    // background-image: url("https://digitallearning.arizona.edu/sites/default/files/styles/uaqs_full_width_lg/public/RethinkingYourAssessments.jpg?itok=fYZ_ZKRP&timestamp=1599151705");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-color: rgba(0, 0, 0, 0.4);
    // background-position: center center;
    // background-blend-mode: multiply;
    // height: 100vh;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .nav-img{
            width: 180px;
            @include mobile391{
                width: 114px;
            }
        }
        .link-c {
            color:black !important;
            font-weight: bold !important;
        }
        
    }
    .menu-logout{
        @include w1200{
            display: none;
        }
    }
    .banner{
        .m-img img{
            max-width: 100%;
            background-color: #ccd1f6;
            @include m391{
                display: none;
            }
        }
        .banner-img img{
            // background-image: url("https://digitallearning.arizona.edu/sites/default/files/styles/uaqs_full_width_lg/public/RethinkingYourAssessments.jpg?itok=fYZ_ZKRP&timestamp=1599151705");
            position: relative;
            background-size: cover;
            height: 100%;
            background-attachment: fixed;
            max-width: 100%;
            overflow: hidden;
            @include mobile391{
                display: none;
            }
        }
        .ef {
            --bRadius: 10px;
            .div{
                
                position: relative;
                text-align: center;
                font-size: 24px;
                // border: 2px solid rgb(179, 191, 231);
                border-radius: var(--bRadius);
                transition: all .3s;
                &::before, &::after {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    right: -10px;
                    bottom: -10px;
                    border: 2px solid rgb(255, 255, 255);
                    transition: all .5s;
                    border-radius: var(--bRadius);
                    animation: clippath 5s infinite linear;
                }
                &::after {
                    animation: clippath 5s infinite -2.5s linear;
                }
                @keyframes clippath {
                    0%, 100% { clip-path: inset(0 0 98% 0); }
                    25% { clip-path: inset(0 98% 0 0); }
                    50% { clip-path: inset(98% 0 0 0); }
                    75% { clip-path: inset(0 0 0 98%); }
                }
        
            }
        }
    }
    .body-login-box{
        position: absolute;
        // display: flex;
        // justify-content: center;
        align-items: center;
        top: 205px;
        margin-left: 393px;
        
            @include w1200{
            top:113px;
            justify-content: flex-start;
            margin-left: 83px;
        }
        @include web992{
            top: 99px;
        }
         .body-login{
            background-color:rgb(137 137 137 / 50%) ;
            border-radius: 10px;
            text-align: center;
            padding: 70px 0;
            width: 313px;
            
            @include w1200{
                padding: 5px 0px;
            } 
            @include web992{
                padding: 10px 10px;
                width: 265px;
            }
            @include pad768{
                width: 215px;
                padding: 9px 10px;
            }
            @include mobile391{
                background-color:rgb(255 255 255 / 95%) ;
                width: 200px;
                
            }
            p{
                @include web992{
                    font-size: 16px;
                }
                @include pad768{
                    font-size: 12px;
                }
            }
            a{
                @include web992{
                    width: 177px;
                }
            }
        }
        .rwd-nav-sign{
            margin-top: 20px;
             @include pad768{
                margin-top: 0;
             }
            button{
                // background-color: rgb(137 137 137 / 50%);
                border-radius: 20px;
                border: 1px solid #79b4a0;
                padding: 8px 21px;
                background-color: transparent;
                color: antiquewhite;
                font-size: 16px;
                @include web992{
                    font-size: 8px;
                }
                @include mobile391{
                    color:black;
                }
                &:hover{
                    background: linear-gradient(to bottom left, #487081, #83c1a6);
                 }
            }
            display: flex;
            justify-content: space-around;
            @include sign-rwd-1200{
                display: none;
            }
        }
        
            h2{
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
                font-weight: bold;
                @include web992{
                    font-size: 20px;
                }
                @include pad768{
                    font-size: 16px;
                }
            }
            input{
                padding:10px;
                margin-bottom: 20px;
                border-radius: 20px;
                border: 1px solid #79b4a0;
                text-align: center;
                background-color: transparent;
                font-size: 18px;
                @include w1200{
                    padding: 0;
                }
                @include web992{
                    margin-bottom: 14px;
                }
                @include pad768{
                    padding: 3px 0;
                    margin-bottom: 0;
                    font-size: 12px;
                }
            }
            .login{
                background-color: rgb(137 137 137 / 50%);
                width: 216px;
                background: linear-gradient(to bottom left, #487081, #83c1a6);
                cursor: pointer;
                @include pad768{
                    width: 133px;
                }
                &:hover{
                    background: #365f71;
                    color:white;
                }
            }
        }
        .checkbox{
            margin-right: 8px;
        }
    }



